.load {
	background: #efeeee;
}

.loadButton {
	margin: 0 auto;
	margin-bottom: 3.5rem;
	background: #efeeee;
	width: 87vw;
	height: 5rem;
	color: rgb(47, 47, 51);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 12px;
	box-shadow: 10px 10px 20px #a6a8ab, -10px -10px 20px #ffffff;

	border: 0.8px solid rgba(185, 186, 189, 0.2);

	letter-spacing: 3rem;
	padding: 8px;
}
.loadButton--text {
	font-size: 2rem;
	font-weight: 500;
}
.loadButton:hover {
	box-shadow: inset 10px 10px 20px #a6a8ab, inset -10px -10px 20px #ffffff;
}
